.dataNavbar .owl-nav{
    position: absolute;
    top: 25px;
    width: 100%;
    z-index: -1;
    background: red;
}

#slideContainer{display:none;}
.owlItemActive{
    background: #eabc00 !important;
    color: #000 !important;
    font-weight: 600;
    
}


.dataNavbar {
	margin:0px 15px;
}
.dataNavbar .owl-next {
    float: right;
    right: -16px;

}
.dataNavbar .owl-prev {
    float: right;
    left: -16px;
 
}
.dataNavbar .owl-nav button{
	    background: #ddd !important;
    padding: 0px 4px !important;
    width: 15px; 
    position: absolute;

}
.dataNavbar .owl-nav button:focus{
	border:0px;
	outline:0px;
}

.dataNavbar .item{
    background: #00C4CC;
    margin: 15px 10px;
    text-align: center;
    border-top-right-radius: 30px;
    padding: 5px;
    width:150px;
    color:#fff;
}

.hide{
    display: none !important;
}
.owl-item{
    /*background:#fff;*/
    z-index:9;
}

.classShadow{
    box-shadow: 1px 3px 4px #5d5d5d;
}



.loader{
    left:50%;
    right:50%;
    position:absolute;
    transform:translate(-50%,50%);
    z-index:99;
    display:none;
}
.dataCollection{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin-top: -2px;
    background: #fff;
    box-shadow: 0px 0px 8px #b7b7b7;
    /*z-index: 9999;*/
    position:relative;
    margin-bottom:60px;
}
.dataCollection .dataItem {
    width: 250px;
    margin-right: 15px;
    transition: all 0.5s;
    cursor: pointer;
    padding: 15px;
    /*border: 1px solid red;*/
    margin-bottom:15px;
   background: #f2f2f2;
    box-shadow: 0 3px 3px #c1c1c2;
}
.dataCollection .dataItem:hover{
        transition: all 0.5s;
   box-shadow: 0px 3px 8px #969696;


}
.dataCollection .dataItem .dataimgContainer{
border: 1px solid #3ad6b8;
    /*width: 150px;*/
    height: 150px;
    overflow: hidden;
    border-radius: 5px;
}

.dataCollection .dataItem img{
    transition:all 0.5s;
width:100%;

height:100%;
}

.dataCollection .dataItem p{
    text-align: center;
    height: 50px;
    margin-bottom: 0px;
    font-size: 15px;
    display:table-cell;
    vertical-align:middle;
    width:250px;
    font-weight:600;
}

.dataCollection .dataItem:hover img{
    transition: all 0.5s;
    /*object-fit: fill;*/
    width: 105%;
    height: 105%;
}

.playerContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000075;
    z-index: 1;
    display:none;

}
.videoContainer{
    position: absolute;
    margin: 15px;
    border: 10px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    box-shadow: 0px 0px 12px #000;
}

.videoContainer video{
    width:100%;
    height:100%;
    display:block;
}

.videoContainer button{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 28px;
    border: none;
    background: #fff;
    cursor:pointer;
    z-index:9;
}

.videoContainer button:focus{
    outline:none;
    border:none;
}

.videoContainer object{
    min-width: 600px;
    min-height: 400px;
}

#mainWrapper{
  width:80%; 
      padding: 0px 15px;
      padding-top:5px; position:relative; 
}
#sidebarWrapper{
    width:20%;
        padding: 0px 15px;
}

.owl-stage-outer{
        padding: 5px 5px;
        padding-bottom:0px;
        
}

.navActive{
         box-shadow: 0px 0px 8px #b7b7b7;
         background: #fff;
}

@media screen and (max-width:768px){
    .dataCollection{
       margin-left:0px;
       justify-content: space-evenly;
    }
    #mainWrapper{width:100%;}
    #sidebarWrapper{width:100%;}
    
    .dataCollection .dataItem{margin-right:0px;}
}
