.dataNavbar .owl-nav{
    position: absolute;
    top: 25px;
    width: 100%;
    z-index: -1;
    background: red;
}

#slideContainer{display:none;}
.owlItemActive{
    background: #eabc00 !important;
    color: #000 !important;
    font-weight: 600;
    
}


.dataNavbar {
	margin:0px 15px;
}
.dataNavbar .owl-next {
    float: right;
    right: -16px;

}
.dataNavbar .owl-prev {
    float: right;
    left: -16px;
 
}
.dataNavbar .owl-nav button{
	    background: #ddd !important;
    padding: 0px 4px !important;
    width: 15px; 
    position: absolute;

}
.dataNavbar .owl-nav button:focus{
	border:0px;
	outline:0px;
}

.dataNavbar .item{
    background: #00C4CC;
    margin: 15px 10px;
    text-align: center;
    border-top-right-radius: 30px;
    padding: 5px;
    width:150px;
    color:#fff;
}

.hide{
    display: none !important;
}
.owl-item{
    /*background:#fff;*/
    z-index:9;
}

.classShadow{
    box-shadow: 1px 3px 4px #5d5d5d;
}



.loader{
    left:50%;
    right:50%;
    position:absolute;
    transform:translate(-50%,50%);
    z-index:99;
    display:none;
}
.dataCollection{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin-top: -2px;
    background: #fff;
    box-shadow: 0px 0px 8px #b7b7b7;
    /*z-index: 9999;*/
    position:relative;
    margin-bottom:60px;
}
.dataCollection .dataItem {
    width: 250px;
    margin-right: 15px;
    transition: all 0.5s;
    cursor: pointer;
    padding: 15px;
    /*border: 1px solid red;*/
    margin-bottom:15px;
   background: #f2f2f2;
    box-shadow: 0 3px 3px #c1c1c2;
}
.dataCollection .dataItem:hover{
        transition: all 0.5s;
   box-shadow: 0px 3px 8px #969696;


}
.dataCollection .dataItem .dataimgContainer{
border: 1px solid #3ad6b8;
    /*width: 150px;*/
    height: 150px;
    overflow: hidden;
    border-radius: 5px;
}

.dataCollection .dataItem img{
    transition:all 0.5s;
width:100%;

height:100%;
}

.dataCollection .dataItem p{
    text-align: center;
    height: 50px;
    margin-bottom: 0px;
    font-size: 15px;
    display:table-cell;
    vertical-align:middle;
    width:250px;
    font-weight:600;
}

.dataCollection .dataItem:hover img{
    transition: all 0.5s;
    /*object-fit: fill;*/
    width: 105%;
    height: 105%;
}

.playerContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000075;
    z-index: 1;
    display:none;

}
.videoContainer{
    position: absolute;
    margin: 15px;
    border: 10px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    box-shadow: 0px 0px 12px #000;
}

.videoContainer video{
    width:100%;
    height:100%;
    display:block;
}

.videoContainer button{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 28px;
    border: none;
    background: #fff;
    cursor:pointer;
    z-index:9;
}

.videoContainer button:focus{
    outline:none;
    border:none;
}

.videoContainer object{
    min-width: 600px;
    min-height: 400px;
}

#mainWrapper{
      width:80%; 
      padding-top:5px; position:relative; 
       padding:15px; margin-bottom: 25px;
       /*background-image: url('../img/flyingBirds.gif');*/
           background-size: 100% 100%;
           background-repeat: no-repeat;
}
#sidebarWrapper{
    width:20%;
        padding: 0px 15px;
}

.owl-stage-outer{
        padding: 5px 5px;
        padding-bottom:0px;
        
}

.navActive{
         box-shadow: 0px 0px 8px #b7b7b7;
         background: #fff;
}





/*home page css*/
.homeSidebar{margin-top: 15px;}
.homeSidebar li:hover{
    transition:0.5s all;    color:#fff;
    background: #eabc00;
}
.homeSidebar li{
 transition:0.5s all; 
text-transform: capitalize;
list-style: none;
background:#15a085;
margin-bottom: 10px;
padding: 8px 10px;
border-radius: 5px;
color:#fff;
font-weight: 600;
cursor:pointer;
}
.homeSidebar .homeActive{
    color:#fff;
    background: #eabc00;
}
 #calendar {
max-width: 650px;
           }
                   
                    
.fc-today
{
  background-color:#60D0BA !important;
}
.fc-day-header{
    font-weight:500;
}
#viewModule h3{
     flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  margin:0px;
      font-weight: 600;
    font-size: 15px;
    padding-top:8px;
}
#viewModule{
background: #e9ecef;
padding: 15px;
display:none;
max-width: 650px; 
}
#viewModule select:focus{
border-color:1px solid #ced4da;
box-shadow:none;
}
#viewModule select{
width:200px;

}
.viewModelData p.viewModelDate{
    color: #8c9298;
    font-weight: 500;
    font-size: 13px;
}

.viewModelData p{
        margin-bottom: 0px;font-size: 15px;
}
.viewModelData h4{
    color:#17a2b8;
         font-weight: 600;
    font-size: 15px; 
    text-transform: capitalize;margin-bottom: 0;
}
.viewModelContent{
padding: 10px;
margin-bottom: 10px;
width: 100%;
display: flex;
background: #fff;
}
.viewModelData{
    padding:10px;
}
.viewModelImgContainer{
    width: 150px;
height: 110px;
position:relative;
overflow: hidden;
}
.viewModelImgContainer img{
    width: 100%;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}


.viewModelHeader{
    display: flex; 
    margin-bottom:15px;
}


/*favourities*/
.favouritesModelHeader h3{
     flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  margin:0px;
      font-weight: 600;
    font-size: 15px;
    padding-top:8px;
}
.favouritesModelData p.favouritesModelDate{
    color: #8c9298;
    font-weight: 500;
    font-size: 13px;
}

.favouritesModelData p{
        margin-bottom: 0px;font-size: 15px;
}
.favouritesModelData h4{
    color:#17a2b8;
         font-weight: 600;
    font-size: 15px; 
    text-transform: capitalize;margin-bottom: 0;
}
.favouritesModelContent{
padding: 10px;
margin-bottom: 10px;
display: flex;
background: #fff;
}
.favouritesModelData{
    padding:10px;
}

.favouritesModelBody{
    width: 48%;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.favouritesModelImgContainer{
    width: 150px;
height: 110px;
position:relative;
overflow: hidden;
}
.favouritesModelImgContainer img{
    width: 100%;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}


.favouritesModelHeader{
    display: flex; 
    margin-bottom:15px;
}

#favourites{
  max-width: 650px; 
  background: #e9ecef;
  padding: 15px;
  display:none;
      overflow: auto;
}
/*end favourities*/

/*library*/
.libraryModelHeader h3{
     flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  margin:0px;
      font-weight: 600;
    font-size: 15px;
    padding-top:8px;
}
.libraryModelData p.libraryModelDate{
    color: #8c9298;
    font-weight: 500;
    font-size: 13px;
}

.libraryModelData p{
        margin-bottom: 0px;font-size: 15px;
}
.libraryModelData h4{
    color:#17a2b8;
         font-weight: 600;
    font-size: 15px; 
    text-transform: capitalize;margin-bottom: 0;
}
.libraryModelContent{
padding: 10px;
margin-bottom: 10px;
display: flex;
background: #fff;
}
.libraryModelData{
    padding:10px;
}

/*.libraryModelBody{
    width: 48%;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}*/
.libraryModelImgContainer{
    width: 150px;
height: 110px;
position:relative;
overflow: hidden;
}
.libraryModelImgContainer img{
    width: 100%;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}


.libraryModelHeader{
    display: flex; 
    margin-bottom:15px;
}

#library{
  max-width: 650px; 
  background: #e9ecef;
  padding: 15px;
  display:none;
      overflow: auto;
}

.libraryButton{
    display: flex;
justify-content: space-between;
}
.libraryButton button i, .libraryAllModule button i{
    margin:5px
}

.libraryButton button:hover, .libraryAllModule button:hover{
    background: #eabc00;transition: 0.5s all;
}
.libraryButton button, .libraryAllModule button{
border: none;
background: #12c2af;
text-transform: uppercase;
font-weight: 600;
font-size: 14px;
transition: 0.5s all;
padding: 5px 30px;
color: #fff;
/*border-radius: 45px;*/
}
/*.libraryButton button:first-child{}
.libraryButton button:last-child{}*/


.libraryAllModule{ text-align: center;}


/*library end*/

/*upload module all quick links pages*/
.quickWrapper{

    
}
.plansOverView {margin-bottom:50px;}
.plansOverView p{font-weight: 600}
.folder a:hover{
    text-decoration: none;
}
.folder a{
    color: #383737;
}
.folder{
    text-align: center;
    margin-bottom:50px;
    cursor:pointer;
}
.folder img{
    width:100px;
}
.UMBody .lastUploaded{
  border-bottom: 1px solid #ced4da;  
}

.UMHeader h3{
    font-size: 15px;
font-weight: 600;   
}
.inputsContainer{
    display:flex;
    align-items: center;
   justify-content: space-between;
    margin-bottom: 12px;
}

.inputsContainer div{
/*flex-grow: 1;*/
}
.inputsTitles{}
.quickWrapper p{ margin:0px; font-size: 15px;}

.UMBody input:focus, .UMBody select:focus{
box-shadow:none;
}
.inputsContainer input, .inputsContainer select {
width: 250px;
border: none;
border-radius: 0px !important;
background: none;
-moz-appearance: none;
-webkit-appearance: none;
border: 1px solid #ddd;
color: #696969;
}
.inputs textarea:focus{
    box-shadow:none;
}
.inputs textarea{
    border-radius: 0px;
    margin-bottom:10px;
      margin-top:10px;
}
.inputsContainer select {
    background: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-position: right 10px center;   
}

.selectVideo .fileSupport{
        font-size: 13px;
    margin-bottom: 10px;
}
.inputsContainer inputs{
}
.inputsContainer inputs{
    text-align:right;
}
.quickWrapper input[type=file]{
    border: 1px solid #a2a2a2;
    padding: 11px;
}
.savebtn:hover{
    background: #ffce05;
}
.savebtn i{
    margin-left:5px;
}
.savebtn{
            border: none;
background: #12c2af;
text-transform: uppercase;
font-weight: 600;
font-size: 14px;
transition: 0.5s all;
padding: 5px 30px;
color: #fff;
}
.viewLessonBody{
padding: 15px;
box-shadow: 0px 0px 3px #999;
background: #fff;
margin-top: -3px;

}
.classNav button:hover{background: #ffce05;}
.classNav button{
                border: none;
background: #12c2af;
text-transform: uppercase;
font-weight: 600;
font-size: 14px;
transition: 0.5s all;
padding: 5px 30px;
color: #fff;
}
.classNavActive::after{
height: 10px;
background: #fff;
left:0;

content: " ";
position: absolute;
width: 100%;
bottom:-4px;
}
.classNavActive{
 box-shadow: 0px 0px 3px #999;
  background: #fff;
  position:relative;
}
.classNav {
display: inline-block;
padding: 10px;
z-index: 999;
position: relative;
margin-right:10px;
}
.lessonTable td, .lessonTable  th{
    padding: 5px 5px;
}

.lessonTable td a{ color:#b6b6b6; }
.lessonTable  td{
    font-size:13px;
}
.lessonTable thead th{
    color:#fff;
    font-weight:600;
}
.lessonTable thead{
    background: #12c2af;
}
/*upload module end*/

/*home page css end*/

@media screen and (max-width:768px){
    .dataCollection{
       margin-left:0px;
       justify-content: space-evenly;
    }
    #mainWrapper{width:100%;}
    .homeSidebarWrapper{ min-height: auto !important;}
    #sidebarWrapper{width:100%;}
    .favouritesModelBody{width:100%; margin-left:0px; margin-right:0px;}
    
    .dataCollection .dataItem{margin-right:0px;}
}
