<div class="header container-fluid paddingTop15 paddingBottom15">
    <div class="row">
        <div class="col-md-2">
            <div class="logo">
                <a href="#">
                    <img src="../img/logo.png" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-8 ">
            <div class="navMenu">
                <ul class="remDefHover">
                    <li><a class="themeColor fontBold" href="#"><i class="fa fa-home" aria-hidden="true"></i>
Home</a></li>
                    <li><a class="themeColor fontBold linkShadow" href="#"><i class="fa fa-book" aria-hidden="true"></i>
Library</a></li>
                    <li><a class="themeColor fontBold" href="#"><i class="fa fa-link" aria-hidden="true"></i>
Quick Link </a></li>
                </ul>
                
                <div class="searchBox">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">
                          <i class="fa fa-search" aria-hidden="true"></i>
                      </button>
                    </span>
                  </div>
               </div>
        </div>
        </div>
        <div class="col-md-2 profileContainer">
            <div class="profileMenu">
                <ul class="remDefHover">
                    <li><a class="profileName" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i><br>
Teacher</a></li>
                    <li><a class="logoutButton" href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>