<div class="header container-fluid paddingTop15 paddingBottom15">
    <div class="row">
        <div class="col-md-3">
            <div class="logo">
                <a href="#">
                    <img src="../img/logo.png" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="navMenu">
                <ul class="remDefHover">
                    <li><a class="themeColor fontBold" href="#">Home</a></li>
                    <li><a class="themeColor fontBold" href="#">Library</a></li>
                    <li><a class="themeColor fontBold" href="#">Quick Link </a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 profileContainer">
            <div class="profileMenu">
                <ul class="remDefHover">
                    <li><a class="profileName" href="#">Teacher</a></li>
                    <li><a class="logoutButton" href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>