<div class="header container-fluid paddingTop15 paddingBottom15">
    <div class="row">
        <div class="col-md-2">
            <div class="logo">
                <a href="#">
                    <img src="../img/logo.png" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-8 ">
            <div class="navMenu">
                <ul class="remDefHover">
                    <li><a class="themeColor fontBold" href="#"><i class="fa fa-home" aria-hidden="true"></i>
                            Home</a></li>
                    <li><a class="themeColor fontBold linkShadow" href="#"><i class="fa fa-book" aria-hidden="true"></i>
                            Library</a></li>
                    <li class="quickLinks">
                        <a class="themeColor fontBold" href="#"><i class="fa fa-link" aria-hidden="true"></i>Quick Links </a>
                        <ul>
                            <div class="popArrow"></div>
                            <li><a href="">upload modules <i class="fa fa-upload" aria-hidden="true"></i></a></li>
                            <li><a href="">create new lesson plan<i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                            <li><a href="">view lesson plan<i class="fa fa-eye" aria-hidden="true"></i></a></li>
                            <li><a href="">dictionary <i class="fa fa-book" aria-hidden="true"></i></a></li>
                            <li class="advanceTools"><a href="javascript:void(0);">advance tools<i class="fa fa-wrench" aria-hidden="true"></i></a>
                                <ul>
                                    <li><a href="" ><i class="fa fa-chevron-right" aria-hidden="true"></i>
Trinity math</a></li>
                                    <li><a href="" ><i class="fa fa-chevron-right" aria-hidden="true"></i>
mathbox</a></li>
                                    <li><a href="" ><i class="fa fa-chevron-right" aria-hidden="true"></i>
autograph</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="searchBox">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 profileContainer">
            <div class="profileMenu">
                <ul class="remDefHover">
                    <li><a class="profileName" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i><br>
                            Teacher</a></li>
                    <li><a class="logoutButton" href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>