*{
    padding:0px;
    margin:0px;
}

.hideActiveStyle:focus{
    box-shadow: none;
}

.fontBold{
    font-weight: bold;
}

.paddingTop15{
    padding-top:15px;
}
.paddingBottom15{
    padding-bottom:15px;
}
.themeColor{
    color:#fff;
}

.linkShadow{
    color: #ffce05;
text-shadow: 1px 1px 2px #020202;
}

a{
    transition: all 0.5s;
}
ul.remDefHover li a:hover{
    text-decoration: none;
       color: #ffce05;
text-shadow: 1px 1px 2px #020202;
    transition: all 0.5s;
}

.noListStyle li{
    list-style: none;
}
ul{margin:0px;}