<ul class="noListStyle accordinaBox">
    <li>
        <div class="accordianContainer subj_container">
            <div class="accordianHeader">Susbject</div>
            <div class="accordianIcon rotateArrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
        </div>
        <ul class="ulsubjects">
<!--            <li>sub item 1</li>
            <li>sub item 2</li>
            <li>sub item 3</li>
            <li>sub item 4</li>-->
        </ul>
    </li>
</ul>
<ul class="noListStyle accordinaBox">
    <li>
        <div class="accordianContainer chapt_container">
            <div class="accordianHeader">Chapter</div>
            <div class="accordianIcon"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
        </div>
        <ul id="ulchapters">
<!--            <li>sub item 1</li>
            <li>sub item 2</li>
            <li>sub item 3</li>
            <li>sub item 4</li>-->
        </ul>
    </li>
</ul>
<ul class="noListStyle accordinaBox">
    <li>
        <div class="accordianContainer topic_container">
            <div class="accordianHeader">Topic</div>
            <div class="accordianIcon"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
        </div>
        <ul id="ultopic">
<!--            <li>sub item 1</li>
            <li>sub item 2</li>
            <li>sub item 3</li>
            <li>sub item 4</li>-->
        </ul>
    </li>
</ul>
<ul class="noListStyle accordinaBox" style="display:none;">
    <li>
        <div class="accordianContainer sub_topic_container">
            <div class="accordianHeader">Sub Topic</div>
            <div class="accordianIcon"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
        </div>
        <ul id="ulsubtopic">
            <li>sub item 1</li>
            <li>sub item 2</li>
            <li>sub item 3</li>
            <li>sub item 4</li>
        </ul>
    </li>
</ul>

