footer{
    background: url(../../../img/footer.jpg);
    height: 45px;
    position: fixed;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-position: bottom;
    background-size: cover;
    z-index:99;
}


@media screen and (max-width:768px){
    footer{
        /*position: relative;*/
    }
}