/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 22, 2019, 9:48:16 AM
    Author     : pankaj
*/

.AdminhomeSidebar {

    margin-top: 15px;

}

.AdminhomeSidebar li {

    transition: 0.5s all;
    text-transform: capitalize;
    list-style: none;
    background: #15a085;
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;

}
.AdminhomeSidebar li:hover {

    transition: 0.5s all;
    color: #fff;
    background: #eabc00;

}
.AdminhomeSidebar .AdminhomeActive {

    color: #fff;
    background: #eabc00;

}
/*.myClass:hover{background: #15A085 !important;}*/
.adminData li{}
.adminData{
    /*margin-top: -13px;*/
    height: 300px;
   overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
    padding: 10px;
    margin-bottom:10px;
    display:none;
   
}
.adminAccount{
    height:auto !important;    overflow: hidden;
}
.loginPop{
    display:none;
height: 300px;
width: 350px;
position: absolute;
background: #fff;
top: 50%;
left: 50%;
transform: translate(-50% ,-50%);
z-index: 99999;
box-shadow: 0px 0px 17px #373737;
}

.loginHeader p{
margin: 0px;
color: #848484;
}
.loginHeader{
text-align: center;
background: #eaeaea;
padding: 10px;
border-bottom: 1px solid #c1c1c1;
position:relative;
}
.loginBody{
    padding:30px;
}
.loginBody p{
    margin:0px;color: #999;
}
.loginBody input:focus{
    box-shadow:none;
}
.loginBody input{
    margin-bottom:10px;border: 1px solid #999;
}
.loginBody button{
padding: 5px 40px;
background: #fff;
color: #919191;
border: 1px solid #999;
border-radius: 4px;
}
.crossChangePass{
color: #888687;
position: absolute;
top: -4px;
right: 12px;
font-size: 30px;
cursor:pointer;
}

.mydash{font-weight:600;}
.myDashboard{}
.myDashboard th{
    font-size: 14px; font-weight: 600;
}
.myDashboard td{}